@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  background: rgb(36, 35, 35);
  font-family: 'Roboto', sans-serif; 
}
.button{
    width: 60px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bolder;
    background: rgb(113, 111, 111);
    color: rgb(8, 252, 203);
}
.row{
    margin: 8px 0;
   
}
.row-input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
}
.input{
    width: 257px;
}